<template>
  <div>
    <div class="map">
      <svg
        version="1.1"
        id="gba"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px"
        y="0px"
        width="10%"
        height="10%"
        viewBox="0 0 253.66 306.33"
        style="enable-background:new 0 -21.6 761 919;"
        xml:space="preserve"
      >
        <g
          v-for="municipio in municipios"
          :id="municipio.id"
          :key="municipio.id"
        >
          <polygon :class="municipio.polygon.class" :points="municipio.polygon.points" />
        </g>
      </svg>
    </div>
  </div>
</template>

<script>
import provincia from "./mapa";
import regions from "./datos";

export default {
  name: "MapaProvincia",
  data() {
    return {
      municipios: provincia.svg.g
    };
  },
  created() {
    this.municipios.map(
      each =>
        (each.datos = regions.find(region => region.region_code == each.id))
    );
  }
};
</script>

<style src="./gba.css"></style>
